.login {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#loginDiv{
    background-color: rgb(174, 224, 189);
    color: whitesmoke
}

.signup {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#signupDiv{
    background-color: rgb(174, 224, 205);
    color: whitesmoke
}

.appBar {
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 5px;
    border-style: solid;
    border-color: rgb(174, 224, 193);
    height: fit-content;
    /* border-radius: 5px; */
    background-color: rgb(174, 224, 185);
    /* padding: 5%; */
}