.login {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#loginDiv{
    padding: 2em;
    background-color: rgb(8,148,78);
    color: rgb(218, 221, 45)
}

.signup {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#signupDiv{
    padding: 2em;
    background-color: rgb(8,148,78);
    color: rgb(218, 221, 45)
}