.login {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#loginDiv{
    padding: 2em;
    background-color: rgb(174, 224, 189);
    color: whitesmoke
}

.signup {
    padding: 5em;
    text-align: center;
    margin: 5em;
}

#signupDiv{
    padding: 2em;
    background-color: rgb(174, 224, 205);
    color: whitesmoke
}

